
	<div>
		<%= image_tag 'Anantara.jpg'%>
	</div>
	
	
	<h1>ツイート一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>内容</th></th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td><%= twitter.content %></td>
    <td><%= link_to '詳細を確認する', twitter_path(twitter.id) %></td>
    <td><%= link_to "ツイートを編集する", edit_twitter_path(twitter.id) %></td>
    <td><%= link_to 'ツイートを削除する', twitter_path(twitter.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくツイートを投稿する', new_twitter_path %>
	
	
</div>

</div>