<!DOCTYPE html>
<html>
  <head>
    <title>Tubuyaki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <div id="container">
     <div id="header">
       <div class="header_wrap">
          <button class="buttonHeader" type="submit" onclick="location.href='./'">ホーム</button>
          <button class="buttonHeader"><%= link_to 'つぶやき一覧', twitters_path %>
          <button class="buttonHeader"><%= link_to '新規投稿', new_twitter_path %></button>
       </div>
     </div>
    
  <div id="content">
  
     <%= yield %>
  
  </div>
  
    <div id="footer">
      <div class="footer_wrap">
        Copyright &copy; はねさや All Rights Reserved.
      </div>
    </div>
  </div>
  
  </body>
</html>
